This Website is Created by: Abhirup Poddar
<br>
Inspired by: Kamalika Mondal
<br>
<p>This is a simple website to generate password for random works for daily life. You can generate customized difficulty level
passwords.</p>
<p>1. Length: You can choose your password length (6-12 characters)</p>
<p>2. Upper Characters: You can choose a password containing at least one uppercase character</p>
<p>3. Alphanumeric: You can choose a password containing at least one number</p>
<p>4. AlphaUpperNumeric: You can choose a password containing at least one upper and at least one number</p>
<br>
<a href={%url 'this_home'%}>back</a>
