<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<div class="container text-center">
  <h1>Password Generator</h1>
  <p>*default password contains all small 8 letters length</p>

  <form action="{%url "name_password2"%}">
    <select name="length">
      <option value="6">choose 6</option>
      <option value="7">choose 7</option>
      <option value="8" selected="selected">choose 8</option>
      <option value="9">choose 9</option>
      <option value="10">choose 10</option>
      <option value="11">choose 11</option>
      <option value="12">choose 12</option>

    </select>Length

    <br>
    <input type="checkbox" name="uppercase"> at least one uppercase
    <br>
    <input type="checkbox" name="numbers"> at least one number
    <br>
    <input type="submit" value="Generate Password" class="btn btn-primary">

  </form>

  <a href={%url 'this_home'%}>home</a>

</div>
